.sub_tit_wrap {
    margin-top: 120px;
}

/* .sub_tit_wrap .sub_tit_inner { */

/* } */

.sub_tit_wrap .sub_tit_inner h2 {
    padding: 30px 0;
}

.sub_tit_wrap .sub_tit_inner ul.smap {
	display: flex;
	justify-content: flex-end;
}

.sub_tit_wrap .sub_tit_inner ul.smap li {
	font-size: 12px;
	margin-right: 10px;
}

.sub_tit_wrap .sub_tit_inner ul.smap li a {
	color: #000;
}

.sub_tit_wrap .sub_tit_inner ul.smap li a:hover {
	text-decoration: underline;
}

.news_sch_wrap {
	display: flex;
	justify-content: flex-end;
	margin: 18px 0;
	background-color: rgb(244,244,242);
	padding: 20px;
}

.news_sch_wrap .sch_items {
	display: flex;
}

.news_sch_wrap #sch_bar {
	width: 323px;
/* 	outline: none; */
	padding-left: 20px;
	border: 1px solid rgb(221,221,221);
	margin-right: 10px;
	border-radius: 5px;
	background-color: white;
	box-sizing: border-box;
	letter-spancing: -2px;
	
}

.news_sch_wrap a.new-board-search-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 38px;
	flex-shrink: 0;
	border-radius: 3px;
	background-color: #777;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: 900;
}

.container {
	width: 1100px;
	height: 1000px;
/* 	background-color:orange; */
	margin-top: 50px;
}

.container .header {
	width: 1100px;
	height: 50px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .header p {
	width:100px;
	heigt: 50px;
	font-weight: 900;
}

.container .header p:nth-child(1) {
	padding-left: 20px;
}

.container .header .header_item {
	display: flex;
}

.container .header .header_item p {
	
}

.container .items {
	width: 1100px;
	height: 80px;
/* 	background-color: royalblue; */
	border-bottom: 1px solid #999;
	display: flex;
	justify-content: space-between;
	
}

.container .items .items1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .items .items1 p {
	width:60px;
	heigt: 50px;
	font-weight: 900;
	color: #999;
	padding-left: 20px;
}

.container .items .items1 a {
	heigt: 50px;
	font-weight: 900;
	color: #999;
	text-decoration: none;
}

.container .items .items1 a:hover {
	text-decoration: underline;
}

.container .items .items2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container .items .items2 p {
	width:100px;
	heigt: 50px;
	font-weight: 900;
	color: #999;
}

.container .items .items2 p:nth-child(1) {
	position:relative;
	right: 30px;
}

.container .items .items2 p:nth-child(2) {
	position:relative;
	left: 10px;
}

.container .select_number {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.container .select_number a {
	margin-right: 10px;
	text-decoration: none;
	color: #999
} 

.container .select_number a:hover {
	text-decoration: underline;
}

.container .select_number a:focus {
	color: black;
	text-decoration: underline;
}