header{
    height: 90px;
    width: 100%;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    
}
header .container{
    width: 1100px;
    margin: auto;
    display: flex;
    height: 100%;
}
/* color:rgb(136,136,136) */
/* .logo{
    border: 1px solid white;
    } */
.logo img{
    display: block;
    margin-top: 25px;
}
.left{
    position: relative;
    width: 45%;
    height: 100%;
}
.sup .sup-title{
    display: flex;
    font-size: .8667em;
    padding: 0;
}
.sup .sup-title a:hover{
    text-decoration: underline;
}
.sup .sup-title a{
    color:black;

}
.sup .sup-title>li{
    padding: 7px 8px 0 5px;
    font-size: 13px;
}
.sub .sub-title{
    display: flex;
    position: absolute;
    font-size: 15px;
    padding: 0;
    margin:0;
    bottom:0;
    font-family: NanumBarunGothic, Dotum, '돋움', sans-serif;
}
.sub .sub-title img{
    width: 30px;
    cursor: pointer;
}
.left .sub .sub-title .sup-content{
    font-size: 1.25em;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    padding: 15px 30px;
    cursor: pointer;
}
.left .sub-title{
    left:0;
}
.sup-list-content{
    position: absolute;
    /* display: flex; */
    display: none;
    width: 100%;
    padding: 0;
    top: 68px;
}
.sup-list-content a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    margin-right: 30px;
}
.sup-list-content a:hover{
    text-decoration: underline;
}
.left .sub-title>li:first-child{
    padding: 10px 10px 10px 0;
}
.left .sub-title>li:nth-child(2){
    padding: 10px 50px 10px 0;
}
.right{
    position: relative;
    width: 45%;
    height: 100%;
}
.right .sup-title{
    position: absolute;
    right:0;
}
.right .sub-title{
    position: absolute;
    right:0;
}
.right .sub-title>li>.sup-content{
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    padding: 15px 35px;
}
.right .sub-title .sup-content{
    font-family: "Noto Sans KR", sans-serif;
}
.right .sub-title img{
    width: 30px;
}
.right .sub-title>li:nth-child(4){
    padding: 10px 0 10px 40px;
}
.right .sub-title>li:nth-child(5){
    padding: 10px 0 10px 10px;
}
.header-wrapper{
    width: 100%;
    height: 45px;
    background-color: rgb(51,158,178);
    position: absolute;
    display: none;
    top: 90px;
}
li{
    list-style-type: none;
}