main {
    
}

main .box {
    width: 1100px;
    height: 900px;
    margin: 0 auto;
    position: relative;
    top: 45px;
}

main .box > h1 {
    position: absolute;
    top: 50px;
    font-weight: 400;
    font-size: 25px;
}

main .box .ticketing-container {
    width: 100%;
    height: 580px;
    position: absolute;
    top: 110px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgb(216, 217, 219);
}

main .box .ticketing-container .ticketing-select {
    width: 100%;
    height: 10%;
    display: flex;
    border-top: 1px solid #222;
    border-bottom: 1px solid rgb(216, 217, 219);
}

main .box .ticketing-container .ticketing-select .swiper-container{
    width: 88%;
    height: 100%;
    display: flex;
}

main .box .ticketing-container .ticketing-select .swiper-prev {
    width: 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(157, 157, 157);
    cursor: pointer;
    z-index: 2;
}

main .box .ticketing-container .ticketing-select .swiper-container .swiper-wrapper {
    width: 88%;
    height: 100%;
    display: flex;
}

main .box .ticketing-container .ticketing-select .swiper-container .swiper-wrapper .swiper-slide {
    width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
}

main .box .ticketing-container .ticketing-select .swiper-container .swiper-wrapper .swiper-slide:hover {
    border-bottom: 3px solid blueviolet;
}

main .box .ticketing-container .ticketing-select .swiper-next {
    width: 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(157, 157, 157);
    cursor: pointer;
    z-index: 1;
}

main .box .ticketing-container .ticketing-select .date-image {
    width: 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(216, 217, 219);
}

main .box .ticketing-container .menu {
    width: 100%;
    height: 90%;
    display: flex;
}

main .box .ticketing-container .menu .movie-menu {
    width: 25%;
    height: 100%;
    position: relative;
}

main .box .ticketing-container .menu .movie-menu > h1 {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #222;
    font-weight: 900;
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu {
    width: 85%;
    height: 85%;
    position: relative;
    margin: 0 auto;
    top: 50px;
    
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-top-menu {
    width: 100%;
    height: 10%;
    border-width: 1px 1px 0 1px;
    border-color: rgb(216, 217, 219);
    border-style: solid;
    display: flex;
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-top-menu .top-first-menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #222;
    cursor: pointer;
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-top-menu .top-first-menu p {
    color: rgb(34, 34, 34);
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-top-menu .top-second-menu  {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #222;
    cursor: pointer;
}   

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-top-menu .top-second-menu p {
    color: rgb(34, 34, 34);
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-middle-menu {
    width: 100%;
    height: 60%;
    position: relative;
    margin-top: 20px;
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-middle-menu .middle-first-menu {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-middle-menu .middle-first-menu .first-menu-item {
    width: 80%;
    cursor: pointer;
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-middle-menu .middle-first-menu .first-menu-item p {
    font-size: 13px;
    padding-bottom: 10px;
    color: black;
    font-weight: 900;
}   

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-middle-menu .middle-second-menu {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: orange;
    display: none;
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu  .sub-middle-menu .middle-second-menu p {
    
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu .sub-bottom-menu {
    width: 100%;
    height: 25%;
    border: 1px solid rgb(216, 217, 219);    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu .sub-bottom-menu .bottom-menu {

}

main .box .ticketing-container .menu .movie-menu .movie-sub-menu .sub-bottom-menu .bottom-menu p {
    text-align: center;
    color: rgb(34, 34, 34);
}

main .box .ticketing-container .menu .theater-menu {
    width: 32%;
    height: 100%;
    position: relative;
}

main .box .ticketing-container .menu .theater-menu > h1 {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #222;
    font-weight: 900;
}

main .box .ticketing-container .menu .theater-menu .theater-sub-menu {
    width: 85%;
    height: 85%;
    position: relative;
    margin: 0 auto;
    top: 50px;
}

main .box .ticketing-container .menu .theater-menu .theater-sub-menu .sub-top-menu {
    width: 100%;
    height: 10%;
    border-width: 1px 1px 0 1px;
    border-color: rgb(216, 217, 219);
    border-style: solid;
    display: flex;
}

main .box .ticketing-container .menu .theater-menu .theater-sub-menu .sub-top-menu .top-first-menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #222;
}

main .box .ticketing-container .menu .theater-menu .theater-sub-menu .sub-top-menu .top-first-menu p {
    color: rgb(34, 34, 34);
}

main .box .ticketing-container .menu .theater-menu .theater-sub-menu .sub-top-menu .top-second-menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #222;
}

main .box .ticketing-container .menu .theater-menu .theater-sub-menu .sub-top-menu .top-second-menu p {
    color: rgb(34, 34, 34);
}

main .box .ticketing-container .menu .theater-menu .theater-sub-menu .sub-middle-menu {
    width: 100%;
    height: 65%;
}

main .box .ticketing-container .menu .theater-menu .theater-sub-menu .sub-bottom-menu {
    width: 100%;
    height: 25%;
    border: 1px solid rgb(216, 217, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main .box .ticketing-container .menu .theater-menu .theater-sub-menu .sub-bottom-menu .bottom-menu {

}

main .box .ticketing-container .menu .theater-menu .theater-sub-menu .sub-bottom-menu .bottom-menu p {
    text-align: center;
    color: rgb(34, 34, 34);
}

main .box .ticketing-container .menu .time-menu {
    width: 43%;
    height: 100%;
    position: relative;
}   

main .box .ticketing-container .menu .time-menu .time-menu-top {
    width: 100%;
    height: 10%;
}

main .box .ticketing-container .menu .time-menu .time-menu-top > h1 {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #222;
    font-weight: 900;
}

main .box .ticketing-container .menu .time-menu .time-menu-top img {
    position: absolute;
    top: 15px;
    right: 20px;
}

main .box .ticketing-container .menu .time-menu .time-menu-middle {
    width: 100%;
    height: 8%;
    border-top: 1px solid rgb(216, 217, 219);
    border-bottom: 1px solid rgb(216, 217, 219);
    display: flex;
}

main .box .ticketing-container .menu .time-menu .time-menu-middle .swiper-prev {
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(157, 157, 157)
}

main .box .ticketing-container .menu .time-menu .time-menu-middle .middle-box {
    width: 74%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .box .ticketing-container .menu .time-menu .time-menu-middle .middle-box .middle-item {
    width: 10%;
}

main .box .ticketing-container .menu .time-menu .time-menu-middle .middle-box .middle-item a {
    width: 100%;
    height: 100%;
    display: block;
    color: rgb(216, 217, 219);
}

main .box .ticketing-container .menu .time-menu .time-menu-middle .swiper-next {
    width: 13%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(157, 157, 157)
}

main .box .ticketing-container .menu .time-menu .time-menu-bottom {
    width: 100%;
    height: 82%;

}

main .box .ticketing-container .menu .time-menu .time-menu-bottom .bottom-menu {

}

main .box .advertisement {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 90px;
}

main .box .advertisement a {
    width: 100%;
    height: 100%;
    display: block;
}

main .box .advertisement a img {
    width: 100%;
    height: 100%;
}

main .home-menu {
    width: 100%;
    height: 50px;
    background-color: rgb(68, 68, 68);
    position: fixed;
    top: 0;
    display: none;
}

main .home-menu .select-menu {
    width: 1180px;
    height: 100%;
    position: relative;
    left: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .home-menu .select-menu .material-symbols-outlined {
    color: gray;
}

main .home-menu .select-menu .select1 a {
    display: flex;
    align-items: center;
}

main .home-menu .select-menu .select1 a:hover p {
    text-decoration: underline;
}

main .home-menu .select-menu .select1 .material-symbols-outlined {
    position: relative;
    top: 2px;
}

main .home-menu .select-menu .select2  a {
    display: flex;
    align-items: center;
}

main .home-menu .select-menu .select2  a:hover  p {
    text-decoration: underline;
}

main .home-menu .select-menu .select2 .material-symbols-outlined {
    position: relative;
    top: 2px;
}

/* 전체 스크롤바 스타일링 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* 스크롤바 트랙 */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* 스크롤바 핸들 호버 */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}